
*.opendb
*.db-wal
*.db-shm
*.db
bin/*
gala/bin/*
.vs/*
*.db
gala/bin/gala.tlog/link.write.1.tlog
gala/bin/gala.tlog/link.read.1.tlog
gala/bin/gala.tlog/link.command.1.tlog
gala/bin/gala.tlog/gala.write.1u.tlog
gala/bin/gala.tlog/CL.write.1.tlog
gala/bin/gala.tlog/CL.read.1.tlog
gala/bin/gala.tlog/CL.command.1.tlog
gala/bin/gala.log
bin/vc143.pdb
bin/main.obj
bin/gala_pipeline.obj
bin/gala.pdb
bin/gala.ipdb
bin/gala.iobj
bin/gala.exe
bin/first_app.obj
.vs/slnx.sqlite
.vs/gala/v17/ipch/AutoPCH/940785c9c857df96/GALA_PIPELINE.ipch
.vs/gala/v17/ipch/AutoPCH/8a30fefe58d0fb8a/FIRST_APP.ipch
.vs/gala/v17/ipch/AutoPCH/72cd46e5af200e23/MAIN.ipch
.vs/gala/v17/Browse.VC.db
.vs/gala/v17/.suo
