# Auto detect text files and perform LF normalization
* text=auto
libshaderc_combinedd.lib filter=lfs diff=lfs merge=lfs -text
libSPIRV-Tools-optd.lib filter=lfs diff=lfs merge=lfs -text
lib/SPIRV-Tools-optd.lib filter=lfs diff=lfs merge=lfs -text
lib/shaderc_combinedd.lib filter=lfs diff=lfs merge=lfs -text
